.container {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
#timerLabel {
  margin-left: 5px;
}
